@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="card">
    <div class="tools">
        <div>
            <div class="circle" id="close"><span class="red box"></span></div>
            <div class="circle" id="minimize"><span class="yellow box"></span></div>
            <div class="circle"><span class="green box"></span></div>
        </div>
        <span class="window-title">Jesus-QC</span>
    </div>
    <div class="window-body" id="window"></div>
    <div class="window-input">
        <input type="text" class="window-input-body" id="input" autocomplete="false" placeholder="Input..." />
    </div>
</div>