@page
@model IndexModel
@{
    ViewData["Title"] = "Jesus-QC";
}

<div class="text-center centered">
    <span class="material-symbols-outlined">verified</span>
    <h1 class="display-4">Jesus-QC</h1>
    <p><i>Spanish</i> programmer.</p>
</div>

<div class="contact">
    <a class="contact-link" href="https://github.com/Jesus-QC"><i class="fab fa-github"></i></a>
    <a class="contact-link" href="https://discord.com/users/430960270433845249"><i class="fab fa-discord"></i></a>
    <a class="contact-link" href="https://paypal.me/jreviews"><i class="fab fa-paypal"></i></a>
</div>