@page "/Login"

@model LoginModel

@{
    ViewData["Title"] = "Login | Jesus-QC";
}

<div class="text-center centered">
    <div>
        <form method="post" style="text-align: center">
            <input type="password" name="password" class="form-control input-button"/>
            <br/>
            <button class="login-button">Login</button>
        </form>
    </div>
</div>